.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading, .subHeading {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 480px){
  .sectionWrapper{
    display: flex;
    flex-direction: row;
  }

  .heading {
    font-size: 4rem;
  }

  .subHeading {
    font-size: 2.5rem;
  }
}

