.header {
  padding: 1rem;
  box-shadow: 1px 6px 20px 3px rgba(5,5,5,0.38);
  -webkit-box-shadow: 1px 6px 20px 3px rgba(5,5,5,0.38);
  -moz-box-shadow: 1px 6px 20px 3px rgba(5,5,5,0.38);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}


.adminLink {
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #39739d;
  text-decoration: none;
  margin-right: 0.5rem;
}



@media screen and (min-width: 480px){
  .heading {
    font-size: 4rem;
    padding: 0rem 0rem 0rem 3rem;
    background: none !important;
  }

  .adminLink {
    margin-right: 1rem;
    font-size: 16px;
  }
  .adminLink:hover {
    border-bottom: 2px solid #7aa7c7;
  }
}
